<div class="form-group" [formGroup]="formGroup" >
  <!--<ng-content></ng-content>-->

  <label [attr.for]="inputId">{{label}}</label>
  <input
      [id]="inputId"
      [name]="name"
      [formControlName]="name"
      [type]="type"
      mask

      class="form-control"/> <!-- formControlName="nome" -->

  <div class="alert alert-danger" *ngIf="control.touched && control.invalid">
    <strong>Invalid info!</strong>
  </div>

  <pre *ngIf="false">
  Status: {{control.status}}
  Disabled: {{control.disabled}}
  Valid: {{control.valid}}
  </pre>

  <ng-content></ng-content>
</div>
