
<form [formGroup]="formGroup" role="form" #form="ngForm" (submit)="formSubmit()">
  <legend>{{title}}</legend>

  <ng-content></ng-content>



  <button type="submit" class="btn btn-primary"[disabled]="formGroup.invalid">{{confirmLabel}}</button>
</form>
